.eventBody {
    float: left;
    margin-left: 2%;
    border-style: solid;
    padding: 35px;
    background-color: white;
    width: 550px;
    border-radius: 20px;
}

.all-event-sub-heading {
    color: #c80e13;
    text-shadow: 20px;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
}

.all-event-box {
    align-items: center;
    display: inline;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.loading{
    align-self: center;
    height: 40px;
    width: 40px;
}